package ${package}.${pkgName}.dao;

import ${package}.${pkgName}.entity.${className};
import org.apache.ibatis.annotations.Mapper;

import java.util.List;
import java.util.Map;
/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper {

    int insert(${className} ${lowClassName});

    int update(${className} ${lowClassName});

    int delete(Long id);

    List<${className}> findAll(Map<String, Object> params);

}
